<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>主页说明</title>

    <meta name="keywords" content="主页说明">
    <meta name="description" content="主页说明">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="__PUBLIC__/favicon/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.3.3.6.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.4.4.0.css" >
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css" >
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" >
    <link rel="stylesheet" href="__PUBLIC__/css/layer.css" id="layui_layer_skinlayercss">
    <link rel="stylesheet" href="__PUBLIC__/css/layer.ext.css" id="layui_layer_skinlayerextcss">
    <link rel="stylesheet" href="__PUBLIC__/css/style.ext.css" id="layui_layer_skinmoonstylecss">
</head>
<body>

<div class="col-sm-12">
    <blockquote class="text-warning" style="font-size:14px">
        <h4 class="text-danger">这是默认主页，以后会放统计图什么的，在此之前还是卖一下广告把</h4>
    </blockquote>

    <hr>
</div>


<script type="text/javascript" src="__PUBLIC__/js/jq.min.2.1.4.js?v=2.1.4" ></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/metisMenu/jquery.metisMenu.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/slimscroll/jquery.slimscroll.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/layer/layer.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/plus.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/contabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/pace/pace.min.js"></script>

</body>
</html>